// 响应式断点
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}
